
.container-movie
  display flex
  width 90%
  margin 0 auto
  padding 2rem
  background-color white
  margin-bottom 16px

  .container-image-movie, .container-description-movie
    min-height 200px

  .container-image-movie
    width 20%
    figure
      margin 0
      img
        width 100%

  .container-description-movie
    width 80%
    padding 1rem
    .layout-like
      text-align right
      span
        font-size 1rem
        margin-right 1.5rem
      .raiting
        margin-right 0.5rem