

.layout-movie
  margin-top 2rem
  .container-serach-movie
    margin-bottom 2rem
    .serarch-layout
      text-align center
      input
        padding 12px 16px
        border-radius 6px
        width 300px
        height 1.2rem
        margin-right 1rem