@require 'normalize';

body
  background-color #bdc3c7
  margin 0
  font-family Roboto

.general-container
  display flex
  flex-direction column

  .header
    background green
    text-align center
    padding 1rem 0
    max-height 70px
    .title
      margin 0
      text-transform uppercase
      color white
